footer
  .container.text-center
    p.pull-left © 2014 HomeThali, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        i.fa.fa-phone  		+1 (908) 312 0024 
      li
        i.fa.fa-envelope  		homefoodthali@gmail.com
