extends layout

block content    
  //p.lead A boilerplate for Node.js web applications.
  //hr
  //hiw -- how it works
  .row.text-center
    h2 As per your taste
  .row
    .col-sm-4.text-center
     .info 
       .img-front
        .img-responsive.img-circle
          img.img-hiw(src='http://clubpenguinds7.files.wordpress.com/2013/05/chef-hat.png?w=300&h=265')
       .img-back
         h4 Select a chef around you 
    .col-sm-4.text-center
     .info 
       .img-front
        .img-responsive.img-circle
          img.img-hiw(src='https://openclipart.org/image/300px/svg_to_png/123/molumen_couvert.png')
       .img-back      
         h4 pre-order items
    .col-sm-4.text-center
     .info
       .img-front
        .img-responsive.img-circle
          img.img-hiw(src='http://www.fobesys.com/images/revolution/waiter.png')
       .img-back      
         h4 pick up the order and bon-apetit
  
  hr    
  .row.text-center
    h2 Serving Areas
  .row      
    .coll-sm-6.text-center
     .effect  
      <svg height="60" width="320">
      <rect class="shape" height="60" width="320"></rect>
      </svg>      
      .text Dallas
      //
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    .coll-sm-6.text-center
     .effect
      <svg height="60" width="320">
      <rect class="shape" height="60" width="320"></rect>
      </svg>      
      .text Atlanta
      //
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  //    
    .row
      .col-sm-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »
      .col-sm-6
        h2 Heading
        p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-default(href='#', role='button') View details »